#Ignore .vscode Files
/.vscode

#Ignore Private Folders
/cert
/orders
/sessions

#Ignore Because It Contains Secrets
/.env
/credentials.json

#Ignore node_modules Because They Will Get Rebuilt And Uses Lots Of Space
/node_modules